@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');


[data-theme="dark"] {
    --body-color: #202c37;
    --Card-color: #2b3945;
    --header-color: #2b3945;
    --SearchBar-color: #2b3945;
    --DropDown-color: #2b3945;
    --BackBtn-color: #2b3945;
    --Text-color: #ffffff;
    --Grey-color: #ffffff;
    --Shadow-color: #090c0e36;
}

[data-theme="light"] {
    --body-color: #fafafa;
    --Card-color: #ffffff;
    --header-color: #ffffff;
    --SearchBar-color: #ffffff;
    --DropDown-color: #ffffff;
    --BackBtn-color: #ffffff;
    --Text-color: #000;
    --Grey-color: #5c5c5c;
    --Shadow-color: #dbdada;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--body-color);
    color: var(--Text-color);
    margin-bottom: 40px;
}

.row {
    --bs-gutter-x: 4.5rem;
    --bs-gutter-y: 4.5rem;
}

.darkmodeShadow {
    box-shadow: 1px 0px 14px #11151736
}



.demo-bg {
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 100;
}


.header {
    height: 80px;
    background-color: var(--header-color);
    box-shadow: 1px 1px 8px var(--Shadow-color);

}

.title {
    font-size: 1.5em;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}

.darkMode {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    border: none;
    background-color: #ffffff00;
    color: var(--Text-color);
}



.input-group {
    /* width: 37%; */
    width: 480px;
}

.SearchBar {
    padding: 0px 0 0px 75px;
    width: 32%;
    height: 55px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border: none;
    background-color: var(--SearchBar-color);
    color: var(--Text-color);
    box-shadow: 1px 1px 8px var(--Shadow-color);

}

.search {
    position: absolute;
    padding: 17px 0px 0 27px;
    color: var(--Grey-color);
    min-width: 50px;
    text-align: center;
    z-index: 100;
}

.drop_list {
    width: 201px;
    height: 55px;
    background-color: var(--SearchBar-color);
    color: var(--Text-color);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    border: none;
    padding: 0 41px 0 0px;
    font-size: 14px;
    box-shadow: 1px 1px 8px var(--Shadow-color);
}

.dropdown {
    width: fit-content;
    background-color: var(--SearchBar-color);
    color: var(--Text-color);
}

.dropdown-menu {
    background-color: var(--DropDown-color);
    color: var(--Text-color);
}


.CardsSection {
    margin-top: 35px;
}

.row {
    /* --bs-gutter-x: 4.5rem; */
    /* --bs-gutter-y: 4.5rem; */

}


.card {
    border: none;
    background-color: var(--Card-color);
    color: var(--Text-color);
    box-shadow: 1px 1px 8px var(--Shadow-color);

}

.card-img-top {
    height: 161px;
    object-fit: cover;
}

.CountryInfo {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    padding-top: 14px;
}

.country_name {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
}

.card-body {
    padding-top: 21px;
    padding-left: 25px;
    margin-bottom: 28px;
}

.semiBold {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}

.MainSection {
    padding-top: 49px;
}


/* ////////////////////////////////////////////////// */
@media only screen and (max-width: 1392px) {
    /* .g-5, .gx-5 {
        --bs-gutter-x: 1rem;
    } */
}

@media only screen and (max-width: 575px) {
    .card {
        max-width: 262px;
        margin: auto;
    }


}

@media only screen and (max-width: 842px) {


    .SearchBar {
        width: 78%;
        margin: auto;
        min-width: 250px;
        height: 50px;
        font-size: 12px;
    }

    .drop_list,
    .darkmodedrop_list {
        height: 50px;
        font-size: 12px;
        float: none;
    }

    .input-group {
        width: 100%;
    }

    .SearchANDdrop {
        display: flex;
        flex-direction: column;
        row-gap: 23px;
    }

    .MainSection {
        padding-top: 22px;
        padding-left: 4px;
        padding-right: 4px;
    }

}


/* /////////////////////////////////////////////////////////////////// */

.MainSectionInfo {
    padding-top: 79px;
    height: 100vh;
}

.InfoImg {
    width: 89%;
    margin: auto;
    height: 107%;
    object-fit: cover;
}

.CountryDetails {
    padding-top: 6%;
    padding-left: 27px;
}

.CountryDetails12 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 4%;
    font-size: 1rem;
}

.CountryDetails1 {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.CountryDetails2 {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.borders {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 44px;
    column-gap: 10px;
    margin-bottom: 40px;
}

.Info_country_name {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}

.button {
    box-shadow: 1px 1px 8px var(--Shadow-color);
    padding: 9px 36px 9px 28px;
    width: 135px;
    height: 43px;
    border: none;
    background-color: var(--BackBtn-color);
    font-size: 15px;
    color: var(--Grey-color);
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 6%;
}

.CountryBox {
    display: inline-block;
    box-shadow: 1px 0px 4px var(--Shadow-color);
    background-color: var(--BackBtn-color);
    margin-right: 5px;
    width: 97px;
    height: fit-content;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}



@media only screen and (max-width: 991px) {
    .CountryDetails {
        row-gap: 19px;
    }

    .CountryDetails12 {
        row-gap: 34px;
    }


    .CountryBox {
        width: 63px;
        font-size: 10px;
    }

    .InfoImg {
        width: 96%;
        margin: auto;
        height: 70%;
        max-height: 310px;
        object-fit: cover;
    }

}


@media only screen and (max-width: 1152px) {
    .InfoImg {
        width: 96%;
        margin: auto;
        max-height: 350px;
        object-fit: cover;
    }

    .Info_country_name {
        font-size: 27px;
    }

    .CountryDetails12 {
        font-size: 13px;
    }

    .borders {
        font-size: 13px;
        row-gap: 10px;
    }
}

@media only screen and (max-width:767px) {
    .header {
        padding-left: 4px;
        padding-right: 4px;
    }

    .darkMode {
        font-size: 0.78em;

    }

    .title {
        font-size: 0.86em;
    }

    .MainSectionInfo {
        padding-top: 40px;
    }

    .button {
        padding: 6px 14px 9px 13px;
        width: 105px;
        height: 34px;
        margin-bottom: 62px;
    }

    .InfoImg {
        width: 100%;
        height: 229px;
    }

    .CountryDetails12 {
        padding-top: 6%;
        font-size: 14px;
        row-gap: 42px;
    }

    .CountryDetails {
        padding-top: 44px;
        padding-left: 0px;
    }

    .Info_country_name {
        font-size: 22px;
    }

    .CountryDetails1 {
        row-gap: 11px;
    }

    .CountryDetails2 {
        row-gap: 11px;
    }

    .borders {
        padding-top: 34px;
        row-gap: 18px;
    }

    .CountryBox {
        width: 97px;
        font-size: 12px;
    }
}